button {
  padding: 25px;
  margin-bottom: 8px;
  margin-right: 8px;
}
.input {
  padding: 53px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.Container {
  border: 1px solid gray;
  
}
.opp{
  background-color: black;
  color: blue;
  font-size: 20px;
}
.clear{
  background-color: orangered;
}
